* {
    font-family: "Raleway", Georgia, sans-serif;
}

html {
    background-color: rgba(170, 85, 133, 0.4);
}

/*navigation */
.nav {
    display: flex;
    align-items: center;
    background-color: #eee;
}

.logo {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHFob3l4eG9hM2s3bjRxYzN5NjB3YmppbTQwOTl6YTh5NDJzMzlvZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/4LodJPlAQKq651PVk2/giphy.gif");
    width: 90px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*intro */
#container_intro {
    position: relative;
}

.header {
    position: relative;
    font-family: "Shadows Into Light Two", Georgia, cursive;
    color: white;
    font-size: 500%;
}

#aboutNoa {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.0);
}

img {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* short biography cards */
.card {
    width: 75%;
}

.card:hover .card-image img {
    width: 110%;
}

/* Eurovision section */
#eurocontainer {
    position: relative;
    text-align: center;
    color: white;
}

#Eurovision {
    position: absolute;
    top: 180px;
    right: -130px;
    transform: translate(-50%, -50%);
    font-family: "Shadows Into Light Two", Georgia, cursive;
    color: gold;
    font-size: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.0);
}

#Eurovision:hover {
    color: purple;
    cursor: pointer;
    transition: 0.2s;
    background: none;
}

#euroNoa {
    opacity: 0.85;
}

/* Eurovision content */
#textbox {
    background-color: #b8a9c9;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px;
    margin: 5px;
}

strong {
    font-size: 120%;
}

/*footer */
#signature {
    background: rgba(0, 0, 0, 0.0);
    text-align: center;
}