* {
    font-family: "Raleway", Georgia, sans-serif;
}

html {
    background-color: rgba(170, 85, 133, 0.4);
}

@media (max-width:650px) {
    iframe {
        width: auto;
        height: auto;
    }
}

.logo {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHFob3l4eG9hM2s3bjRxYzN5NjB3YmppbTQwOTl6YTh5NDJzMzlvZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/4LodJPlAQKq651PVk2/giphy.gif");
    width: 90px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/*intro */
#container_intro {
    position: relative;
}

#container_introHEB {
    position: relative;
    text-align: right;
    font-family: "Noto Sans Hebrew", sans-serif;
}

.header {
    position: relative;
    font-family: "Shadows Into Light Two", Georgia, cursive;
    /* color: white; */
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

/*glowing text - from here https: //www.w3schools.com/howto/howto_css_glowing_text.asp*/
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

#aboutNoa {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.0);

}

img {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/* short biography cards */
.card {
    width: 75%;
    overflow: hidden;
    position: relative;
    width: 95%; 
    height: 100px;
}

.card:hover .card-image img {
    transform: scale(1.1);
    transition: all 1s;
}

/*for cards in Hebrew*/

#cardtitleheb {
    text-align: right;
}

#cardtitleheb2 {
    text-align: right;
}

#cardtitleheb3 {
    text-align: right;
}

#cardheb {
    text-align: right;
}

#cardheb2 {
    text-align: right;
}

#cardheb3 {
    text-align: right;
}

/*for cards in Hebrew --end*/

/* Eurovision section */
#eurocontainer {
    position: relative;
    text-align: center;
    color: white;
}

#Eurovision p {
    font-family: "Shadows Into Light Two", Georgia, cursive;
    color: purple;
    font-size: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    font-size: 50px;
    text-align: center;

}

#Eurovision p:hover {
    /**  color: red;
    cursor: pointer;
    transition: 0.2s;
    background: none; **/
    cursor: pointer;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    /* display: inline-block; */
    font-size: 60px;
    /* text-align: center; */
    text-align: center;
}

#euroNoa {
    opacity: 0.85;
}



/* Eurovision content */
.info {
    background-color: #b8a9c9;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px;
    margin: 5px;
    text-align: justify;
}

strong {
    font-size: 120%;
}

/*text scroll*/
#text_scroll {
    background-color: #6E518D;
    text-align: center;
    padding-top: 0.7%;
}


/*Netta*/

#Netta {
    font-size: 70px;
    font-family: "Shadows Into Light Two", Georgia, cursive;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    /* display: inline-block; */
    font-size: 60px;
    /* text-align: center; */
    text-align: left;
}

#nettacard {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*footer */
#signature {
    text-align: center;
}